.inputs {
    margin-top: 30px;
    background-color: cadetblue;
}

form {
    margin-top: 30px;
}

.img-responsive {
    height: 300px;
}

h1 { 
    font-size: 5em;
}

* {
    font-family: 'Barrio', cursive;
}