.box { 
    background-color: grey; 
    height: 500px;
    width: 30%;
    display: inline-block;
    margin-left: 35px;
    margin-top: 0px;
}

button { 
    margin-top: 20px; 
    margin-left: 40%;
}

body { 
    color: coral;
    background-color: brown;
}