<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <a href="#/food/breakfast"><img class="home_photos" src="photos/carissa-gan-66378.jpg" class="img-responsive" alt=""></a>
            <h3 class="photo_text">Breakfast</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#/food/lunch"><img class="home_photos" src="photos/kazuend-33925.jpg" alt=""></a>
            <h3 class="photo_text">Lunch</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#/food/dinner"><img class="home_photos" src="photos/adam-jaime-119568.jpg" alt=""></a>
            <h3 class="photo_text">Dinner</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#/food/dessert"><img class="home_photos" src="photos/tatiana-lapina-6807.jpg" alt=""></a>
            <h3 class="photo_text">Dessert</h3>
        </div>
    </div>
</div>