* {
    font-family: 'Nunito', sans-serif;
}

.dropdown {
    margin-top: 10px;
    display: inline-block;
}

.inline {
    display: inline-block;
}

.navbar_options {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.email_address {
    background-color: #F3C3AC;
    padding-top: 20px;
    padding-bottom: 20px;
}

.photos {
    margin-top: 100px;
}

.blog {
    margin-top: 50px;
}

.highlight:hover {
    background-color: #F3C3AC;
    text-decoration: none;
}

p {
    margin-top: 10px;
    word-spacing: 2px;
}

.line:before,
.line:after {
    content: "   ";
    display: inline-block;
    max-width: 80px;
    width: 25%;
    border-bottom: 1px solid #ddd;
    line-height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}

.blog-image:hover {
    opacity: .8;
}

.right_row {
    margin-top: 30px;
}

contact_icons {
    font-size: 2em;
}

i.fa {
    color: black;
}

.contact_icons:hover {
    color: #F3C3AC;
}

.subscribe {
    margin-top: 150px;
}

.container-right {
    margin-left: 50px;
    border: 1px solid #ddd;
    position: relative;
    margin-top: 50px;
    padding: 20px 10px 20px 10px;
}

.topbox {
    margin-left: 50px;
    border: 1px solid #ddd;
    position: relative;
    margin-top: 50px;
    padding: 20px 0px 20px 10px;
}

.label-right {
    margin-left: 33%;
    display: inline-block;
    position: absolute;
    top: -18px;
    background-color: white;
}

.carousel-control:hover {
    background-color: black;
}

.archives {
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}

.buttons {
    margin-top: 100px;
    font-size: 2.5em;
}

.contact_icon {
    color: #F3C3AC !important;
}

.comment {
    float: right;
}

nav a {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.read_more {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 10px 20px 10px 20px;
}

.read_more:hover {
    background-color: #ddd !important;
    color: white !important;
}

.social_media {
    margin-right: 10px;
    margin-left: 10px;
}

.related_box {
    margin-top: 40px;
}

.archives {
    margin-left: 0px;
}

.hor-line { 
    margin-top: -20px;
}

.related { 
    display: inline-block;
    background-color: white !important;
    z-index: 1;
}

.photo-container { 
    width: 9.7vw;
    height: 9.7vw; 
    display: inline-flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.photo-container:hover { 
    opacity: .8;
}


.created { 
    width: 100%;
    background-color: black;
}

.property_text { 
    display: inline-block;
    color: white;
    font-size: .9em;
    justify-content: center;
}

.wishlist-carousel { 
    height: 441px !important;
}

.carousel-inner { 
    height: 400px !important;
}

.property_text.right { 
    float: right;
}

a.property_text { 
    text-decoration: underline;
}

.blank_space { 
    height: 100px;
}

.btn.btn-default:hover { 
    background-color: white;
}


