<!DOCTYPE html>
<html lang="en" ng-app="MyPortfolioApplication">

<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class='container-fluid text-center navigation'>
        <a class="contact_links" href="#/home">
            <div class="navigation_buttons">Home</div>
        </a>
        <a class="contact_links" href="#/skills">
            <div class="navigation_buttons">Skills</div>
        </a>
        <a class="contact_links" href="#/portfolio">
            <div class="navigation_buttons">Portfolio</div>
        </a>
        <a class="contact_links" href="#/about">
            <div class="navigation_buttons">About</div>
        </a>
        <!--        <a class="contact_links" href="#/contact"><div class="navigation_buttons">Contact</div></a>-->
    </nav>

    <ng-view class="page {{pageClass}}"></ng-view>


    <footer class="container-fluid navbar-fixed-bottom" ng-controller="MainController">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 envelope_menu" ng-mouseleave="hovered = false; clicked = false" ng-class="{'opened_menu': clicked === true, 'contact_menu': hovered === true}">
                <button ng-click="clicked = !clicked" ng-show="clicked === false">
                    <h6 ng-hide="hovered === false">Send me an email</h6> <i class="pull-right glyphicon glyphicon-envelope pull-right" ng-mouseover="hovered = !hovered"></i></button>
                <textarea name="" id="" cols="45" rows="8" ng-hide="clicked === false" placeholder="Please write your message here..."></textarea>
                <button class="send_button" ng-hide="clicked === false" ng-click="clicked = !clicked; sendEmail()">Send</button>
                <button class="close_button" ng-hide="clicked === false" ng-click="clicked = false; hovered = false">x</button>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <!-- controllers -->
    <script src="home/home.js"></script>
    <script src="portfolio/portfolio.js"></script>
    <script src="contact/contact.js"></script>
    <script src="about/about.js"></script>
    <script src="skills/skills.js"></script>
</body>

</html>