.page {
    bottom: 0;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    z-index: 0;
}

.v_school { 
    height: 150px;
    width: 150px;
}

.v_school_info { 
    clear: left; 
}

.stjohns { 
    padding: 10px;
}

.resume_box { 
    background-color: white;
}

.work_experience { 
    margin-top: 50px;
}
/*NG Animate*/

@keyframes slideLeftOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideRightOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* home -------------------------- */

.page-home.ng-enter {
    animation: fadeIn 1s both ease;
}

.page-home.ng-leave {
    animation: slideLeftOut 0.5s both ease;
}


/* about ------------------------ */

.page-about.ng-leave {
    animation: slideRightOut 1s both ease;
}

.page-about.ng-enter {
    animation: fadeIn 0.5s both ease;
}


/* contact ---------------------- */

.page-contact.ng-leave {
    animation: slideLeftOut 1s both ease;
}

.page-contact.ng-enter {
    animation: fadeIn 0.5s both ease;
}


/* about ------------------------ */

.page-portfolio.ng-leave {
    animation: slideLeftOut 1s both ease;
}

.page-portfolio.ng-enter {
    animation: fadeIn 0.5s both ease;
}


/* contact ---------------------- */

.page-skills.ng-leave {
    animation: slideRightOut 0.5s both ease;
}

.page-skills.ng-enter {
    animation: fadeIn 1s both ease;
}


/*Regular CSS*/

.contact_icon {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    display: inline-block;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

.contact_icon:hover {
    background-color: white;
}

.contact_links {
    position: relative;
    font-size: 1.3em;
    text-decoration: none;
}

.contact_links:hover {
    text-decoration: none;
}

body {
    background: url("photos/bpt7mjgrbrq-michal-pechardo.jpg") no-repeat center center fixed;
    background-size: cover;
}

.navigation {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: white;
    opacity: .8;
    height: 100px;
    z-index: 1;
}

.navigation_buttons {
    display: inline-block;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    border: 1px white solid;
    color: grey;
}

.navigation_buttons:hover {
    border: 1px red solid;
    padding-top: 15px;
}

* {
    font-family: 'Arvo', serif;
}

i.home_icons {
    font-size: 2em !important;
    transition: transform .8s ease-in-out;
}

i.home_icons:hover {
    transform: rotate(720deg);
}

i.fa-twitter:hover {
    color: #4099FF;
}

i.fa-linkedin-square:hover {
    color: #0E76A8;
}

.home {
    margin-top: 100px;
}

.skills_icon {
    margin-top: 50px;
}

.language_icon {
    opacity: .8;
    transition: opacity 2s ease;
    padding: 20px !important;
}

.language_icon:hover {
/*    transform: rotateY(360deg);*/
    background-color: aliceblue;
    opacity: 1;
}



/*
.envelope_menu { 
    width: 4%; 
    float: right;
    margin-right: 0px;
    padding: 0px;
}
*/

.contact_menu { 
    background-color: #D7DADB;
    border-radius: 3px;
    opacity: .8;
    width: 25%;
    height: 35px;
    bottom: 0px;
    transition: all .5s ease;
}

.contact_menu textarea { 
    position: relative; 
    width: 100% !important;
}

.opened_menu { 
    position: relative;
    padding: 10px;
    height: 220px;
    opacity: 1;
}

.contact_menu h6 { 
    display: inline-block;
    font-size: 1em;
}

.contact_menu button { 
    border: none;
    background-color: #D7DADB;
    width: 100%;
}

.glyphicon-envelope { 
    padding-top: 8px;
    font-size: 1.3em;
}

.send_button { 
    width: 75% !important; 
    display: inline-block;
}

.close_button { 
    width: 23% !important;
    display: inline-block;
}

div.contact_menu.opened_menu { 
    transition: height 2s, opacity 1s, ease;
}

i.colored { 
    font-size: 15em;
}

.portfolio_container { 
    margin-top: 50px;
}

.portfolio_item { 
    padding: 5px;
    background-color: beige;
    opacity: .8;
    transition: opacity 1s ease;
}

.portfolio_item:hover { 
    opacity: 1;
}

@media (max-width: 685px) { 
    .contact_menu { 
        width: 100% ;
    }
}
    
